
@{
    ViewBag.Title = "View Recipe"; ;
}
<img src="~/images/salmonBaked.jpg" class="position center-block" /><p></p>
<table class="table table-sm table-striped table-bordered">
    <thead>

    </thead>
    <tbody>
        <tr style="color:#019966">
            <td>Bill R.</td>
        </tr>
        <tr>
            <td>
                Seems senseless to pile on after so many positive reviews but I will. Made the recipe exactly as written.
                It was delicious! Served with roasted asparagus and rice pilaf. My family is now calling me their personal chef.
                Thanks Giada!
            </td>
        </tr>
        <tr style="color:#019966">
            <td>ssgabriele</td>
        </tr>
        <tr>
            <td>
                After reading all the rave reviews for this recipe I had high expectations. The flavor was just okay and the salmon
                ended up being over cooked. I might try again with a lower oven temperature and perhaps adding more herbs for enhanced flavor.
            </td>
        </tr>
        <tr style="color:#019966">
            <td>june m.</td>
        </tr>
        <tr>
            <td>
                I have made this recipe several times. It is my go to recipe for baking salmon
            </td>
        </tr>
        <tr style="color:#019966">
            <td>Diane O.</td>
        </tr>
        <tr>
            <td>
                This was delicious! It was very moist and great flavor with herbs and tomatoes. Easy to clean up as well. Will make again for sure.
            </td>
        </tr>
        <tr style="color:#019966">
            <td>Mindy R.</td>
        </tr>
        <tr>
            <td>
                my go-to salmon recipe!! have made this dozens of times-- comes out perfect every time. my husband's favorite salmon recipe!!
            </td>
        </tr>
        <tr style="color:#019966">
            <td>Mike B</td>
        </tr>
        <tr>
            <td>
                The texture was mushy. I used juicy home grown tomatoes, maybe I should have drained the juice? Will try this recipe again and get
                if I can figure out why mine turned out so mushy, I’ll adjust my review
            </td>
        </tr>
        <tr style="color:#019966">
            <td>smelgarejo1</td>
        </tr>
        <tr>
            <td>
                Such an easy and delicious recipe!!!
            </td>
        </tr>
        <tr style="color:#019966">
            <td>Jenny Anne</td>
        </tr>
        <tr>
            <td>
                This was great! Even my 8yr old liked the fish!
            </td>
        </tr>
        <tr style="color:#019966">
            <td>kathypayne65</td>
        </tr>
        <tr>
            <td>
                This Salmon is amazing. my husband is not a salmon or baked fish kind of person, but he loved it & it is now a regular dish in my home.
                it's great with asparagus & rice pilaf
            </td>
        </tr>
        <tr>
        </tr>
    </tbody>
</table>
<h3 style="color:#019966">Write your review</h3>
<textarea id="recipeReview" style="color:#666666" cols="100" rows="3"> </textarea><br>
<div class="text-center">
  <button class="btn btn-primary" type="submit" style="background-color:#019966" tabindex="10">Save Review</button>                   
</div><br />
      <h5>To go back to Recipes List <a class="nav-link" asp-action="RecipeList" style="color:#019966">Click here</a></h5>

