
@{
    ViewBag.Title = "Thank You";
}   
    <p>
        <h3 style="color:#019966">Thank you, @Model.AddedBy!</h3>
        <h3>We have added your recipes to our recipe list.</h3>
        <h3 style="color:#019966">Thank you for your time.</h3>
    </p>
    <img src="~/images/thankYou.jpg" />
    <p></p>
    <p style="color:#666666">Click <a class="nav-link" asp-action="RecipeList" style="color:#019966">here</a> to see added recipes</p>
    <p></p>